Lesson2WCF/WpfApplication1/Service References/ServiceReference2/Wcf2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wcf2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wcf2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Game">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
</xs:schema>