Lesson2WCF/WpfApplication1/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BetService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFSampleApp" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBetService_GetValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValue" />
  </wsdl:message>
  <wsdl:message name="IBetService_GetValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValueResponse" />
  </wsdl:message>
  <wsdl:message name="IBetService_CalculateSin_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateSin" />
  </wsdl:message>
  <wsdl:message name="IBetService_CalculateSin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateSinResponse" />
  </wsdl:message>
  <wsdl:message name="IBetService_GetPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerson" />
  </wsdl:message>
  <wsdl:message name="IBetService_GetPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonResponse" />
  </wsdl:message>
  <wsdl:portType name="IBetService">
    <wsdl:operation name="GetValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IBetService/GetValue" message="tns:IBetService_GetValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBetService/GetValueResponse" message="tns:IBetService_GetValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateSin">
      <wsdl:input wsaw:Action="http://tempuri.org/IBetService/CalculateSin" message="tns:IBetService_CalculateSin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBetService/CalculateSinResponse" message="tns:IBetService_CalculateSin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IBetService/GetPerson" message="tns:IBetService_GetPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBetService/GetPersonResponse" message="tns:IBetService_GetPerson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBetService" type="tns:IBetService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetValue">
      <soap:operation soapAction="http://tempuri.org/IBetService/GetValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateSin">
      <soap:operation soapAction="http://tempuri.org/IBetService/CalculateSin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap:operation soapAction="http://tempuri.org/IBetService/GetPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BetService">
    <wsdl:port name="BasicHttpBinding_IBetService" binding="tns:BasicHttpBinding_IBetService">
      <soap:address location="http://localhost:8733/BetService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>